<%- include("header") -%>

    <div class="box" id="heading">
    <p><%= kindofday %></p>
    </div>
    
    <div class="box">


        <% newItem.forEach (function(item){ %>  <!-- inside the parentheses we pass in a callback function which allows us to tap into each item inside that array. -->
            <form action="/delete" method="post" >
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p><%= item.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= kindofday %>">
        </form>
       <% }) %>


    
    <form class="item" action="/" method="post">
         <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
         <button type="submit"name="list" value=<%= kindofday %>>+</button>
    </form>
    </div>
    <%- include("footer") -%>